---
import { getCollection } from "astro:content";
import { locales } from "@i18n/i18n";
import Page from "@layouts/Page.astro";
import { getLocaleFromUrl } from "@i18n/utilities";
import { getRelativePostPath } from "@utilities/getPostPath";
import ServiceSidebar from "@components/ServiceSidebar.astro";

export async function getStaticPaths() {
  const collection = "services";
  const serviceEntries = await getCollection(collection);
  let entriesToRender = [];
  for (let locale of locales) {
    const localeEntries = serviceEntries
      .filter((entry) => getLocaleFromUrl(entry.slug) === locale)
      .map((entry) => ({
        params: {
          slug: `${getRelativePostPath(locale, collection, entry.slug, false)}`,
        },
        props: { entry },
      }));
    entriesToRender.push(...localeEntries);
  }
  return entriesToRender;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Page frontmatter={entry.data}>
  {
    entry.data.previewImage && (
      <div class="services-details-thumb">
        <img src={entry.data.previewImage} />
      </div>
    )
  }
  {
    entry.data.sidebar && (
      <div slot="left-column" class="col-12 col-lg-3 order-2 order-lg-1">
        <ServiceSidebar content={entry.data.sidebar} title={entry.data.title} />
      </div>
    )
  }
  <div class="prose">
    <Content />
  </div>
</Page>
