---
import { BRANDS } from "@src/config";
import { Picture } from "astro:assets";

const { frontmatter } = Astro.props;
---

{
  BRANDS && (
    <div class="brand-area-two pb-80">
      <div class="container">
        <div class="row brand-active justify-content-center">
          <div class="col-lg-6">
            <div class="section-title-four text-center mb-50 tg-heading-subheading animation-style3">
              {frontmatter.clients && frontmatter.clients.subtitle && (
                <span class="sub-title tg-element-title">
                  {frontmatter.clients.subtitle}
                </span>
              )}

              {frontmatter.clients && frontmatter.clients.title && (
                <h2 class="title tg-element-title">
                  {frontmatter.clients.title}
                </h2>
              )}
            </div>
          </div>
          <div class="col-12 swiper" data-client-swiper>
            <div class="swiper-wrapper">
              {BRANDS.map((brand) => (
                <div class="swiper-slide">
                  <div class="brand-item">
                    <Picture
                      src={brand.image}
                      formats={["avif", "webp"]}
                      width={160}
                      height={60}
                      alt=""
                    />
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/autoplay";

  const clientSwiper = "[data-client-swiper]";
  if (document.querySelector(clientSwiper)) {
    const swiper = new Swiper(clientSwiper, {
      direction: "horizontal",
      modules: [Autoplay],
      slidesPerView: 2,
      slidesPerGroup: 2,
      autoplay: {
        delay: 5000,
      },
      loop: true,
      breakpoints: {
        640: {
          slidesPerView: 2,
          slidesPerGroup: 2
        },
        960: {
          slidesPerView: 4,
          slidesPerGroup: 2
        },
        1200: {
          slidesPerView: 4,
          slidesPerGroup: 4
        },
      },
    });
  }
</script>
