---
import Shape01 from "../images/breadcrumb_shape01.png";
import Shape02 from "../images/breadcrumb_shape02.png";
import { Picture, getImage } from "astro:assets";
import backgroundImage from "@src/images/breadcrumb_bg.jpg";

const { frontmatter } = Astro.props,
  title = frontmatter.title,
  pageHeader = frontmatter.pageHeader,
  sectionBackground = await getImage({ src: backgroundImage });
---

<section
  class="breadcrumb-area breadcrumb-bg"
  style={`background-image: url('${sectionBackground.src}')`}
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <h1 class="title">{pageHeader || title}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb-shape-wrap">
    <Picture src={Shape01} formats={["avif", "webp"]} alt="Decorative Shape" />
    <Picture src={Shape02} formats={["avif", "webp"]} alt="Decorative Shape" />
  </div>
</section>
