---
import Shape01 from "../images/breadcrumb_shape01.png";
import Shape02 from "../images/breadcrumb_shape02.png";
import { Picture } from "astro:assets";
import backgroundImage from "@src/images/breadcrumb_bg.jpg";

const { frontmatter } = Astro.props,
  title = frontmatter.title,
  pageHeader = frontmatter.pageHeader;
---

<section class="breadcrumb-area breadcrumb-bg">
  <Picture
    src={backgroundImage}
    format="webp"
    quality={70}
    widths={[320, 480, 640, 1024, 1400, 1900]}
    sizes={`(max-width: 320px) 320px, (max-width: 480px) 480px, (max-width: 640px) 640px, (max-width: 1024px) 1024px, (max-width:1400px)1400px, 1900px`}
    alt="background"
    loading="eager"
  />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <h1 class="title">{pageHeader || title}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb-shape-wrap">
    <Picture src={Shape01} formats={["avif", "webp"]} alt="Decorative Shape" />
    <Picture src={Shape02} formats={["avif", "webp"]} alt="Decorative Shape" />
  </div>
</section>

<style>
  .breadcrumb-area > picture img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
</style>