---
import Shape01 from "../images/breadcrumb_shape01.png";
import Shape02 from "../images/breadcrumb_shape02.png";
import { Picture } from "astro:assets";

const { frontmatter } = Astro.props,
  title = frontmatter.title;
---

<section
  class="breadcrumb-area breadcrumb-bg"
  data-background="/assets/img/bg/breadcrumb_bg.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <h2 class="title">{title}</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="/blog">Blog</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb-shape-wrap">
    <Picture src={Shape01} formats={["avif", "webp"]} alt="Decorative Shape" />
    <Picture src={Shape02} formats={["avif", "webp"]} alt="Decorative Shape" />
  </div>
</section>
