---
import ContactForm from "./ContactForm.astro";

const {content, title} = Astro.props;
---

<aside class="services-sidebar">
  {
    content.downloadText && (
      <div class="services-widget">
        <h4 class="sw-title">Downloads</h4>
        <div class="services-brochure-wrap">
          <p>{content.downloadText}</p>
          <a
            href={content.downloadLink}
            target="_blank"
            download=""
            class="download-btn"
          >
            <i class="far fa-file-pdf" />
            {content.downloadButtonLabel}
          </a>
        </div>
      </div>
    )
  }
  <div class="services-widget">
    <h4 class="sw-title">Projektanfrage</h4>
    <ContactForm topic={title} formName="project" />
  </div>
</aside>
