---
import { uiStrings } from "@i18n/uiStrings";
import type { TranslationLink } from "./MainI18n.astro";

interface Props {
	translationLinks: TranslationLink[];
}

const { translationLinks } = Astro.props,
	pageTranslationsAvailableIn = `${uiStrings.pageTranslationsAvailableIn[Astro.currentLocale]} `;
---

<select id="language-select" aria-label="Select language">
	<option selected disabled
		>{uiStrings[Astro.currentLocale][Astro.currentLocale]}</option
	>
	{
		translationLinks.map((translation, index) => (
			<option value={translation.relativeURL}>{translation.label}</option>
		))
	}
</select>

<script>
	document.getElementById("language-select")?.addEventListener("change", (e) => {
		// @ts-ignore:next-line
		window.location.href = e.target.value;
	});
</script>

<style>
	#language-select {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
</style>
