---
import "../styles/bootstrap.min.css";
import "../styles/fontawesome-all.min.css";
import "../styles/default.css";
import "../styles/style.css";
import "../styles/responsive.css";

import { getLangFromUrl } from "../i18n/utils";
import Header from "../components/Header.astro";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
