---
import "../styles/bootstrap.min.css";
import "../styles/fontawesome-all.min.css";
import "../styles/flaticon.css";
import "../styles/default.css";
import "../styles/style.css";
import "../styles/responsive.css";

import { getLangFromUrl } from "../i18n/utils";
import Header from "../components/Header.astro";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main class="fix">
      <slot />
    </main>
  </body>
</html>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";

  AOS.init({
    duration: 1000,
    mirror: true,
    once: true,
    disable: "mobile",
  });

  document.querySelectorAll("[data-background]").forEach((item) => {
    // @ts-ignore
    item.style = `background-image: url("${item.dataset.background}")`;
  });

  const slideToggle = (element) => {
    element.classList.toggle("show");
    if (element.style.maxHeight) {
      element.style.maxHeight = null;
    } else {
      element.style.maxHeight = element.scrollHeight + "px";
    }
  };

  document
    .querySelectorAll(".header-search > a, .search-close")
    .forEach((item) => {
      item.addEventListener("click", function () {
        // @ts-ignore
        const content = document.querySelector(item.dataset.target);
        slideToggle(content);
        return false;
      });
    });
</script>
