---
import MainI18n from "@components/MainI18n.astro";
import PageHeader from "@components/PageHeader.astro";
import type { CommonFrontmatter } from "@src/types";
interface Props {
	frontmatter: CommonFrontmatter,
	previewImage?: string
}

const { frontmatter } = Astro.props;
---

<MainI18n {frontmatter} collection={frontmatter.collection}>
	<PageHeader {frontmatter} />
	<section class="services-details-area pt-120 pb-120">
		<div class="container">
			<div class="row justify-content-center">
				<slot name="left-column" />
				<div class="col-12 col-lg-9 order-1 order-lg-2">
					<div class="services-details-wrap">
						<slot />
					</div>
				</div>
			</div>
		</div>
	</section>
</MainI18n>
